<h3 class="title is-3">Ask for availability, {{ request.user }} </h3>
<p class="title is-5">Reservation of {{ car.brand }} {{ car.model }}</p>

<form class="form" method="POST">
    {% csrf_token %}
    <input type="hidden" id="username" name="username" value="{{ request.user }}">
    <input type="hidden" id="carID" name="carID" value="{{ car.id }}">
    <p class="title is-5">Add pick-up and return dates</p>

    <div class="field is-grouped is-grouped-multiline">
        <p class="control">
            <label for="start">Pick-up date:</label>
            <input class="input" type="date" id="start" name="start" min="" max="">
        </p>
        <p class="control">
            <label for="start">Return date:</label>
            <input class="input" type="date" id="stop" name="stop" min="" max="">
        </p>
        <p class="control">
            <label for="phone">Enter your phone number:</label>
            <input class="input" type="tel" id="phone" name="phone">
        </p>
    </div>

      <input class="button is-primary" type="submit" value="Send request">

</form>