{% load static %}
<nav class="navbar signal-navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="#">
                <img class="logo" src="#" alt="logo">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="signalNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="signalNavbar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'website:homepage' %}">Homepage</a>
                <a class="navbar-item" href="{% url 'cars:fleet' %}">Fleet</a>
                <a class="navbar-item" href="{% url 'cars:test_details' %}">Test details</a>
                <a class="navbar-item" href="{% url 'website:contact' %}">Contact</a>
            </div>
        </div>
    </div>
</nav>