{% extends "base.html" %}
{% load static %}

{% block head %}
    {% include "head.html" %}
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

  {% load crispy_forms_tags %}

        <section class="section is-medium has-background-white-ter">

            <div class="container">
                <div class="columns">

                    <div class="column">
   					 {% include 'includes/messages.html' %}
						<!--Reset Password-->
						<div class="container p-5">
							<h2 class="title is-1">Reset Password</h2>
							<hr>
							<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
							<br>
							<form method="POST">
								{% csrf_token %}
								{{ password_reset_form|crispy }}
								<br>
								<button class="button is-primary mt-4" type="submit">Send email</button>
								<br>
								<br>
								<p class="text-center"><a href="/login"><u><b>Click here to return to login.</b></u></a></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}