{% extends "base.html" %}
{% load static %}

{% block head %}
    {% include "head.html" %}
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

  {% load crispy_forms_tags %}

        <section class="section is-medium has-background-white-ter">

            <div class="container">
                <div class="columns">

                    <div class="column">
                    {% include 'includes/messages.html' %}
                      <!--Login-->
                      <div class="container py-5">
                        <h1 class="title is-1">Login</h1>
                        <form method="POST">
                            {% csrf_token %}
                            {{ login_form|crispy }}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            <button class="button is-primary mt-4" >Login</button>
                        </form>
                          <br>
                        <p class="text-center">Don't have an account? <a href="/register"><u><b>Create an account</b></u></a>.</p>
                        <a href="/password_reset"><b><u>Forgot password?</u></b></a>
                      </div>
                    </div>
                </div>
        </section>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}